body {
    padding-top: 70px;
}

ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

.well .form-group {
    margin: 0 15px 10px;
}

ul.tag-editor {
    display: block;
    width: 100%;
    height: 34px;
    padding: 4px 3px;
    font-size: 14px;
    line-height: 1.42857143;
    color: #555;
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 4px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
    -webkit-transition: border-color ease-in-out .15s, -webkit-box-shadow ease-in-out .15s;
    -o-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
}

.control-label.skill-label {
    background: none;
    border: 0;
    font-weight: bold;
    color: #000;
}

.label.skills {
    text-transform: uppercase;
}
